*.gmo
stamp-it
.deps
.libs
stamp-h1
Makefile.in
Makefile
test-menu-parser
test-menu-spec
*.o
*.lo
*.la
*.so
gtk-doc.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4/
missing
mkinstalldirs
Makefile.in.in
*.stamp
version.xml
*.tar.bz2
*.tar.gz
garcon-decl-list.txt
garcon-decl-list.txt.bak
garcon-decl.txt
garcon-decl.txt.bak
garcon-undeclared.txt
garcon-undocumented.txt
garcon-unused.txt
garcon.args
garcon.hierarchy
garcon.interfaces
garcon.prerequisites
garcon.signals
docs/reference/html/*
docs/reference/tmpl/*
docs/reference/xml/*
po/.intltool-merge-cache
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.in
configure.ac
ChangeLog
depcomp
garcon-1.pc
garcon-config.h
INSTALL
POTFILES
data/xfce/xfce-accessories.directory
data/xfce/xfce-development.directory
data/xfce/xfce-education.directory
data/xfce/xfce-games.directory
data/xfce/xfce-graphics.directory
data/xfce/xfce-hardware.directory
data/xfce/xfce-multimedia.directory
data/xfce/xfce-network.directory
data/xfce/xfce-office.directory
data/xfce/xfce-other.directory
data/xfce/xfce-personal.directory
data/xfce/xfce-science.directory
data/xfce/xfce-screensavers.directory
data/xfce/xfce-settings.directory
data/xfce/xfce-system.directory
garcon-gtk/garcon-gtk3-1.pc
garcon/garcon-2.pc
garcon/garcon-marshal.c
garcon/garcon-marshal.h
garcon/stamp-garcon-marshal.h
garcon/Garcon-1.0.gir
garcon/Garcon-1.0.typelib
garcon-gtk/GarconGtk-1.0.gir
garcon-gtk/GarconGtk-1.0.typelib
gtk-doc.m4
tests/test-display-menu
tests/test-display-menu-gtk3
po/.intltool-merge-cache*
