garcon-marshal.c
garcon-marshal.h
stamp-*
test-display-menu
*.gmo
stamp-it
.deps
.libs
stamp-h1
Makefile.in
Makefile
test-menu-parser
test-menu-spec
*.o
*.lo
*.la
*.so
gtk-doc.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
Makefile.in.in
*.stamp
version.xml
*.tar.bz2
*.tar.gz
garcon-decl-list.txt
garcon-decl-list.txt.bak
garcon-decl.txt
garcon-decl.txt.bak
garcon-undeclared.txt
garcon-undocumented.txt
garcon-unused.txt
garcon.args
garcon.hierarchy
garcon.interfaces
garcon.prerequisites
garcon.signals
docs/reference/html/*
docs/reference/tmpl/*
docs/reference/xml/*
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
garcon-1.pc
POTFILES
